
footer{
    background-color: black;
    width: 100%;
    height: 80px;
    
}

.footer_list{
    display: flex;
    column-gap:12px;
    margin:25px 35px 15px 40px ;
}
.container_footer{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.footer_elem{
    color:white;
    background-color: black;
    line-height: 21px;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 14.4611px;
    white-space: nowrap; 
}


.arrow{
    width: 37px;
    height: 12px;
    margin:3px 0px 0px 0px ;
}
.icon_1{
    width: 35px;
    height: 35px;
}
.icon_2{
    width:35px;
    height: 35px;
}
.icon_list{
    display: flex;
    column-gap: 12px;
    justify-content: right;
    align-content: center;
    margin:20px 50px 20px 0px ;
}

.contacts{
    width: 900px;
    height: auto;
}
.footer_elem:hover{
    color: #F2F99C;
}







