.my_foto{
    width: 283.3px;
    height: 377.74px;
}
   
.logo{
    width: 184px;
    height: 184px;
    align-items: center;
    }

.color_1{
    width: 222.93px;
    height: 185.85px;
  
}

.color_2{ 
    width: 222.69px;
    height: 184.98px;

}

.dos_1,.dos_2,.dos_3,.dos_4{    
    width: 387px;
    height: 218px;
    
}

.slider_1_kompoz{
    height:516px;
    width:870px;   
}
slider_2_kompoz{
    height:516px;
    width:879px;  
}

slider_3_kompoz{
    height:497px;
    width:200px;      
}
slider_1_tipograf{
  height:497px;
  width:497px;      
}
slider_2_tipograf{
  height:497px;
  width:362.69px;      
}
slider_3_tipograf{
  height:497px;
  width:397px;      
}
slider_4_tipograf{
  height:497px;
  width:494.44px;      
}
slider_5_tipograf{
  height:497px;
  width:497px;      
}
.slider_1_color{
  height:497px;
  width:277.72px;     
}
slider_2_color{
  height:497px;
  width:277.72px;     
}
slider_3_color{
  height:497px;
  width:296px;     
}
.slider_1_3D{
  height:497px;
  width:680px;
}
.slider_2_3D{
  height:497px;
  width:680px;
}
.slider_3_3D{
  height:497px;
  width:680px;
}
.slider_4_3D{
  height:497px;
  width:680px;
}
.slider_5_3D{
  height:497px;
  width:680px;
}

.img_about{
  width:379px ;
  height: 74px;
}
.contacts_1{
    width: 50px;
    height: 50px;
}
.contacts_2{
    width:57;
    height:57px;
}
.flex_contaiter_achievements_1{
    display: flex;
    column-gap: 20px;
    row-gap: 10px;
    width: 778px;
    height: 300px;
    margin: 185px 323px 0px 310px;
    
    
  }
  .flex_contaiter_achievements_2{
    display: flex;
    gap: 20px;
    padding: 20px 20px ;
    width: 800px;
    height: 450px;
  
  }
  .flex_contaiter_achievements_3{
    display: flex;
    margin: 20px 20px ;
    gap: 20px;
    height:200px;
    width: 778px;
    
  }
  .flex_contaiter_achievements_4{
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    height:200px;
    width: 778px;
    
  }
  .flex_contaiter_achievements_5 {
    display: flex;
    row-gap: 20px;
    column-gap: 20px;
    height:200px;
    width: 778px;
    
  }

.flex_element_achievements_1,.flex_element_achievements_2,.flex_element_achievements_3{
    width: 820px;
    height: 200px;    
}

.some-page-wrapper {
  align-items: center;
  width: 800px;
  height: 500px;
  margin: 0px 323px 29px 337px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.orange-column {
  width: 387px;
  height: 230px;
  position: relative;
}

.blue-column {
  width: 387px;
  height: 230px;
  position: relative;
 
}

.green-column {
  width: 387px;
  height: 230px; 
  position: relative;
}
.zoom{
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(20%);
  
}
.zoom:hover::after{
  opacity:0.5;
}
