.work_list{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    padding:135px 120px 39px 120px ;
}

.work_button{
    background-color: white;
    border-radius: 75px;
    width: 285px;
    height: 51px;
    line-height: 24px;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    white-space: nowrap;
    
}


.work_button:hover{
    background-color: #F2F99C;
}